<?xml version="1.0" encoding="UTF-8"?> 

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"    
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd   
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

 
  <!--La datasource doit être configurée dans le projet appelant --> 
  	<!-- doit etre defini au cas où on fait de la config par annotation
  	 <context:annotation-config />
	<context:component-scan base-package="com.bja.bapps.*" />
	 -->
   
  <!-- EntityManagerFactory 
  <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"> 
    <property name="dataSource" ref="dataSource" /> 
    <property name="jpaVendorAdapter"> 
      <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">        
        <property name="databasePlatform" value="org.hibernate.dialect.H2Dialect" />
         <property name="generateDdl" value="true" />
         <property name="database" value="H2" />
      </bean> 
    </property> 
  </bean> -->
 
   <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource" />
        
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" >
            	<property name="showSql" value="true" />
				<property name="generateDdl" value="true" />
				<!-- <property name="databasePlatform" value="${db.dialect}" /> -->
            </bean>
            
        </property>        
        
        <!-- fonctionne avec le package com.bja.bapps : scanne le fichier persistence.xml -->
        <property name="packagesToScan" value="com.bja.bapps"/>
        
        <!-- le fichier  jpaProperties.properties doit être present dans Iwel -->
        <property name="jpaProperties" value="classpath:/jpaProperties.properties"/>
        
    </bean>
 
  
  <!-- le gestionnaire de transactions --> 
  <tx:annotation-driven transaction-manager="txManager" /> 
  <bean id="txManager" class="org.springframework.orm.jpa.JpaTransactionManager"> 
    <property name="entityManagerFactory" ref="entityManagerFactory" /> 
  </bean> 
 
  <!-- traduction des exceptions --> 
  <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" /> 
 
  <!-- persistence --> 
  <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" /> 
 
</beans> 